#logo {
	background: url(../../images/colors/purple/logo.png) no-repeat left bottom;
}
#topHeader #logo {
	background: url(../../images/colors/purple/logo.png) no-repeat left bottom;
}
ul.nav > li > a.active:hover {
    border-bottom: 3px solid #c762cb;
}
ul.nav > li > a.active {
    border-bottom: 3px solid #c762cb;
    color: #c762cb;
}
ul.nav > li > a:hover {
    color: #c762cb;
}
.tp-caption.slider_but2 a {
    background-color: #c762cb;
}
.section_holder1 .one_third:hover .title_holder h4, .section_holder1 .one_third.active .title_holder h4 {
    color: #c762cb;
}
.section_holder1 .one_third:hover .icon_holder .icon, .section_holder1 .one_third.active .icon_holder .icon {
    border: 1px solid #c762cb;
    color: #c762cb;
}
.section_holder1 .one_third:hover .topline, .section_holder1 .one_third.active .topline {
    background-color: #c762cb;
}
.section_holder1 .one_third:hover a, .section_holder1 .one_third.active a {
    color: #c762cb;
}
.section_holder3 .left_box:hover .parallelogram, .section_holder3 .left_box.active .parallelogram {
    background-color: #c762cb;
}
.section_holder3 .left_box:hover .text .arrow_box:after, .section_holder3 .left_box.active .text .arrow_box:after {
    border-right-color: #c762cb;
}
.section_holder3 .left_box:hover .text, .section_holder3 .left_box.active .text {
    background-color: #c762cb;
}
.section_holder4 .featurebox:hover, .section_holder4 .featurebox.active {
    background-color: #c762cb;
}
.section_holder4 .featurebox:hover .arrow_box:after, .section_holder4 .featurebox.active .arrow_box:after {
    border-right-color: #c762cb;
}
.section_holder5 .one_half:hover .text_holder, .section_holder5 .one_half.active .text_holder {
	background: url(../../images/colors/purple/transparent_bg2.png) 0 0 repeat;
}
.cyan {
    color: #c762cb;
}
.section_holder7 .shape {
    background-color: #c762cb;
}
.section_holder7 .img_holder ul.social_icons li a {
    background-color: #c762cb;
}
.section_holder8 .post_holder .img .date {
    background-color: #c762cb;
}
.section_holder8 .post_holder .img .comments {
    background-color: #c762cb;
}
.section_holder8 .post_holder .img .date .sideshape {
	background: url(../../images/colors/purple/img16.png) 0 0 no-repeat
}
.section_holder8 .post_holder .img .date.two .sideshape {
	background: url(../../images/colors/purple/img17.png) 0 0 no-repeat
}
.section_holder10 {
    background-color: #c762cb;
}
.section_holder11 .price_table:hover, .section_holder11 .price_table.active {
    background-color: #c762cb;
}
.section_holder11 .price_table:hover .top_shapes, .section_holder11 .price_table.active .top_shapes {
    background-color: #c762cb;
}
.section_holder11 .price_table:hover ul.plan_features li, .section_holder11 .price_table.active ul.plan_features li {
    border-bottom: 1px solid #fff;
}
.section_holder11 .price_table:hover .title, .section_holder11 .price_table.active .title {
    border-bottom: 1px solid #fff;
}
.section_holder12 {
    background-color: #c762cb;
}
.scrollup {
	background: #c762cb url(../../images/scroll-top-arrow.png) no-repeat 15px 16px;
}
.tp-caption.circle2 {
    background-color: #c762cb;
}
.section_holder10.two .featurebox:hover, .section_holder10.two .featurebox.active {
    background-color: #c762cb;
}
.section_holder10.two .featurebox:hover .arrow_box:after, .section_holder10.two .featurebox.active .arrow_box:after {
    border-right-color: #c762cb;
}
.section_holder5.two .img_holder:hover .text_holder, .section_holder5.two .img_holder.active .text_holder {
	background: url(../../images/colors/purple/transparent_bg2.png) 0 0 repeat;
}
.section_holder13 .one_fourth.active #count-box, .section_holder13 .one_fourth.active .text h4, .section_holder13 .one_fourth.active #count-box2, .section_holder13 .one_fourth.active .text h4, .section_holder13 .one_fourth.active #count-box3, .section_holder13 .one_fourth.active .text h4, .section_holder13 .one_fourth.active #count-box4, .section_holder13 .one_fourth.active .text h4 {
    color: #c762cb;
}
.section_holder13 .one_fourth.active .text {
    border-bottom: 1px solid #c762cb;
    border-top: 1px solid #c762cb;
}
.section_holder13 .one_fourth:hover #count-box, .section_holder13 .one_fourth:hover .text h4, .section_holder13 .one_fourth:hover #count-box2, .section_holder13 .one_fourth:hover .text h4, .section_holder13 .one_fourth:hover #count-box3, .section_holder13 .one_fourth:hover .text h4, .section_holder13 .one_fourth:hover #count-box4, .section_holder13 .one_fourth:hover .text h4 {
    color: #c762cb;
}
.section_holder13 .one_fourth:hover .text {
    border-bottom: 1px solid #c762cb;
    border-top: 1px solid #c762cb;
}
.ui-progress.style2 {
    border-bottom: 8px solid #c762cb;
}
.section_holder15 .one_third:hover .icon, .section_holder15 .one_third.active .icon {
    border: 1px solid #c762cb;
    color: #c762cb;
}
.section_holder15 .one_third:hover h4, .section_holder15 .one_third.active h4 {
    color: #c762cb;
}
.readmore_bu1:hover {
    border: 1px solid #c762cb;
    color: #c762cb;
}
.newsletter .input_submit {
    background-color: #c762cb;
}
#topHeader #logo2 {
    background: url(../../images/colors/purple/logo.png) no-repeat center top;
}
.tp-caption.vertline {
    background-color: #c762cb;
}
.readmore_bu3 {
    background-color: #c762cb;
}
.section_holder8.two.three .post_holder:hover .text, .section_holder8.two.three .post_holder.active .text {
    background-color: #c762cb;
}
.section_holder8.two.three .post_holder:hover .parallelogram, .section_holder8.two.three .post_holder.active .parallelogram {
    background-color: #c762cb;
}
.section_holder8.two.three .post_holder:hover .arrow_box:after, .section_holder8.two.three .post_holder.active .arrow_box:after {
    border-right-color: #c762cb;
}
.footer.style2 ul.tags li a:hover, .footer.style2 ul.tags li a.active {
    border: 1px solid #c762cb;
    color: #c762cb;
}
.top_nav.three .middle.two {
    background-color: #c762cb;
}
.section_holder17 .email_submit {
    background-color: #c762cb;
    border: 1px solid #c762cb;
}
.section_holder18 .date_holder .date {
    background-color: #c762cb;
}
.section_holder18 .date_holder .comments {
    background-color: #c762cb;
}
.section_holder18 .img_holder .overlay a.icon {
    background-color: #c762cb;
}
.section_holder18 .date_holder .sideshape {
	background: url(../../images/colors/purple/img49.png) 0 0 no-repeat;
}
.section_holder18 .news_holder:hover .text_holder h4, .section_holder18 .news_holder.active .text_holder h4 {
    color: #c762cb;
}
.section_holder19 .one_third:hover .icon, .section_holder19 .one_third.active .icon {
    border: 1px solid #c762cb;
    color: #c762cb;
}
.section_holder19 .one_third:hover h4, .section_holder19 .one_third.active h4 {
    color: #c762cb;
}
.section_holder19 .one_third:hover a, .section_holder19 .one_third.active a {
    color: #c762cb;
}
.section_holder20 .featurebox:hover h4 {
    color: #c762cb;
}
.section_holder20 .featurebox:hover .icon {
	color: #c762cb;
}
.section_holder21 .featurebox:hover, .section_holder21 .featurebox.active {
    background-color: #c762cb;
}
.section_holder21 .featurebox:hover .arrow_box:after, .section_holder21 .featurebox.active .arrow_box:after {
    border-right-color: #c762cb;
}
.section_holder21 .featurebox:hover .arrow_box2:after {
	border-left-color: #c762cb;
}
.section_holder22 .img_holder .date {
    background-color: #c762cb;
}
.section_holder22 .img_holder .overlay a.icon {
    background-color: #c762cb;
}
.section_holder22 .img_holder .postinfo_icon {
    background-color: #c762cb;
}
.section_holder22 .text_holder .topline {
    background-color: #c762cb;
}
.section_holder23 .featurebox:hover, .section_holder23 .featurebox.active {
    background-color: #c762cb;
}
.section_holder24 .one_fourth:hover h4, .section_holder24 .one_fourth.active h4 {
    color: #c762cb;
}
.section_holder24 .one_fourth:hover .line, .section_holder24 .one_fourth.active .line {
    background-color: #c762cb;
}
.section_holder24 .one_fourth:hover h4 span, .section_holder24 .one_fourth.active h4 span {
    color: #c762cb;
}
.section_holder24 .one_fourth:hover a, .section_holder24 .one_fourth.active a {
    color: #c762cb;
}
.section_holder26 .img_holder .postinfo_icon {
    background-color: #c762cb;
}
.section_holder26 .img_holder .overlay a.icon {
    background-color: #c762cb;
}
.section_holder26 .text_holder h4 a {
    color: #c762cb;
}
.section_holder26 .news_holder .info span i {
    color: #c762cb;
}
.sky-form .button.five {
    background-color: #c762cb;
}
.cbp-l-filters-alignCenter .cbp-filter-item.cbp-filter-item-active {
    border: 1px solid #c762cb;
    color: #c762cb;
}
.cbp-l-filters-alignCenter .cbp-filter-item:hover {
    color: #c762cb;
}
.section_holder29 .featurebox:hover .icon, .section_holder29 .featurebox.active .icon {
    background-color: #c762cb;
    border: 1px solid #c762cb;
}
.section_holder29 .featurebox:hover h5, .section_holder29 .featurebox.active h5 {
    color: #c762cb;
}
.section_holder30 .one_third:hover .icon, .section_holder30 .one_third.active .icon {
    color: #c762cb;
}
.section_holder30 .one_third:hover h5, .section_holder30 .one_third.active h5 {
    color: #c762cb;
}
#logo4 {
	background: url(../../images/colors/purple/logo.png) no-repeat center top;
}
.menu_holder .menu li a.current {
    color: #c762cb;
}
.menu li a.current {
    color: #c762cb;
}
.menu li a:hover {
    color: #c762cb;
}
.mobilenav li a:hover {
    color: #c762cb;
}
.section_holder34 .img .overlay a.icon {
    background-color: #c762cb;
}
.section_holder34 .one_fourth:hover h5 {
    color: #c762cb;
}
.section_holder34 ul.social_icons li a:hover {
    background-color: #c762cb;
    border: 1px solid #c762cb;
}
.section_holder33 .img_circle {
    background-color: #c762cb;
}
.section_holder35 .price_table:hover, .section_holder35 .price_table.active {
    background-color: #c762cb;
}
.section_holder35 .price_table:hover .title, .section_holder35 .price_table.active .title {
    border-bottom: 1px solid #fff;
}
.section_holder35 .price_table:hover ul.plan_features li, .section_holder35 .price_table.active ul.plan_features li {
    border-bottom: 1px solid #fff;
}
.top_nav.one.cyan {
    background-color: #c762cb;
}
.section_holder36 .one_third:hover .icon, .section_holder36 .one_third.active .icon {
    background-color: #c762cb;
}
.section_holder37 .text_holder ul.list li i {
    color: #c762cb;
}
.section_holder38 .img .overlay ul.social_icons li a:hover, .section_holder38 .img .overlay ul.social_icons li a.active {
    background-color: #c762cb;
}
.section_holder38 .one_fourth:hover h5, .section_holder38 .one_fourth.active h5 {
    color: #c762cb;
}
.tabs12 li.active a {
    background-color: #c762cb;
}
.section_holder39 .img_circle {
    background-color: #c762cb;
}
ul.nav > li > a.active {
    border-bottom: 3px solid #c762cb;
    color: #c762cb;
}
#logo5 {
	background: url(../../images/colors/purple/logo3.png) no-repeat left bottom;
}

ul.nav.dark > li > a.active {
    color: #c762cb;
}
ul.nav.dark > li > a.active:hover {
    color: #c762cb;
}
.tabs li.active a {
    background-color: #c762cb;
}
ul.nav > li > a.active:hover {
    border-bottom: 3px solid #c762cb;
    color: #c762cb;
}
.categories_holder .list li a:hover {
    color: #c762cb;
}
.punchline_text_box {
    border-color: #eee #eee #eee #c762cb;
}
a.knowmore_but {
    background-color: #c762cb;
}
.icon_boxes_st1 i {
    background-color: #c762cb;
    border: 1px solid #c762cb;
}
.smk_accordion .accordion_in.four.acc_active > .acc_head {
    background: none repeat scroll 0 0 #c762cb;
}
.tabs13 li.active a {
    background-color: #c762cb;
}

.section_holder53 ul.tab_text li i {
    color: #c762cb;
}
.tabs13 li a:hover {
	color: #c762cb;
}
.tabs13 li.active a {
	background-color:#c762cb;
}
.products_tags .tags li a {
    background-color: #c762cb;
}
.table-list5 td a {
    background-color: #c762cb;
}
.table-list5 td span.price {
    color: #c762cb;
}
.section_holder52 ul.tab_text li i {
    color: #c762cb;
}
.section_holder45 .newsletter .input_submit {
    background-color: #c762cb;
}
.sky-form a {
    color: #c762cb;
}
.sky-form .checkbox input + i:after {
    color: #c762cb;
}
.sky-form .radio input:checked + i, .sky-form .checkbox input:checked + i, .sky-form .toggle input:checked + i {
    border-color: #c762cb;
}
.sky-form .button.eight {
    background-color: #c762cb;
}
ul.sitemap li a {
    color: #c762cb;
}
.portfolio_single a.add_but {
    background-color: #c762cb;
}
.sidebar_social_icons .social_icons li a:hover {
    background-color: #c762cb;
	border:1px solid #c762cb;
}
.portfolio_single .project_info span .right .tags li a {
    background-color: #c762cb;
}
.cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {
    background-color: #c762cb;
    border-color: #c762cb;
}
.cbp-l-caption-buttonLeft, .cbp-l-caption-buttonRight {
    background-color: #c762cb;
}
.cbp-l-filters-work .cbp-filter-item.cbp-filter-item-active {
    background: none repeat scroll 0 0 #c762cb;
}
.cbp-l-filters-work .cbp-filter-item:hover{
	background:#c762cb;
	}
.cbp-l-filters-alignRight .cbp-filter-item.cbp-filter-item-active {
    background-color: #c762cb;
    border-color: #c762cb;
}
.cbp-l-filters-alignRight .cbp-filter-counter {
    background: none repeat scroll 0 0 #c762cb;
}
.cbp-l-filters-alignRight .cbp-filter-counter:before {
    border-top: 4px solid #c762cb;
}
.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
    border-color: #c762cb;
    color: #c762cb;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter:before {
    border-top: 4px solid #c762cb;
}
.cbp-l-filters-buttonCenter .cbp-filter-counter {
    background-color: #c762cb;
}
.cbp-l-grid-masonry-projects-title {
    color: #c762cb;
}
.toprated_products .right .stars i {
    color: #c762cb;
}
.gallery .previews a:hover, .gallery .previews a.selected {
    border: 1px solid #c762cb;
}
.product_info_right .price {
    color: #c762cb;
}
.product_info_right .rating_right span.stars i {
    color: #c762cb;
}
.product_info_right .add_but {
    background-color: #c762cb;
}
.section_holder47 .social_icons li a:hover {
    border: 1px solid #c762cb;
	background-color:#c762cb;
}
.tabs9 li.active a {
    color: #c762cb;
}
.tabs9 li a:hover {
    color: #c762cb;
}
.section_holder48 .stars {
    color: #c762cb;
}
.section_holder48 .review_like a {
    color: #c762cb;
}
.section_holder48 .form_title {
    color: #c762cb;
}
.sky-form .button.six {
    background-color: #c762cb;
}
.section_holder54 .post_img .overley .icon:hover {
	background-color: #c762cb;
}
.section_holder54 .post_img .date {
    background-color: #c762cb;
}
.readmore_bu4 {
    background-color: #c762cb;
}
.bl_pagenation li a:hover {
	background-color: #c762cb;
}
.section_holder55 .post_holder .date {
    background-color: #c762cb;
}
.section_holder54 .comment_info:hover {
	border: 1px solid #c762cb;
}
.readmore_bu5 {
    background-color: #c762cb;
}
.section_holder54 a.loadmore_but {
    background-color: #c762cb;
}
.sky-form .button.seven {
    background-color: #c762cb;
}
.address_info a {
    color: #c762cb;
}
.sky-form .button {
    background-color: #c762cb;
}
.title_classic_top {
    background-color: #c762cb;
}